 body {
    text-align: center;
    
} 

#cube{
    margin: auto;
    padding: 10px;
    border: 2px solid blue;
    width: 400px;
    height: 400px;
}

.btn{
    text-align: center;
    margin: 10px; 
  }